body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ebf2fa;
  color: #333;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: none;
  background-color: #0077b6;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0077b6;
}

input, select {
  padding: 0.4rem;
  margin: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
